body {
    background-color: var(--azul);
}

.formulario__conteudo {
    background-color: var(--branco);
    border-radius: 10px;
    margin: 1rem;
    max-width: 510px;
    padding: 1rem;
    box-shadow:black 1px 1px 10px;
}

