.formulario__titulo {
    color: var(--azul);
    font-family: 'Noto Sans JP', sans-serif;    
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}


